:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base do site*/

body {
    background: var(--preto);
    font-family: 'arial', Times, serif;
    color: white;
    margin-left: 5px;

}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: arial black, times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff
}

/*Relacionado ao filme principal*/

.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,-50), rgba(0,0,0,-50)100%), url('/img/Lucifer.jpg');
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: cover;
    background-repeat: no-repeat;
}

.filme-principal .sinopse{
    margin-bottom: 40px;
    text-align:justify;
    margin-top: 10px;
}
.titulo{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15%;
}

.botao {
    background-color: rgba(0,0,0,50%);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 2s ease all;
}

.botao:hover{
   background-color: white;
   color: black; 
}

.botao i{
    margin-right: 7px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 55%;
}

.box-filme{
    width: 100%;
    height: 100%;
    display: block;

}

.carrosel-filmes{
    margin-top: 5px;
}

.video img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility:hidden;
    opacity: 0;
}

.video.active{
    visibility: visible;
    opacity: 1;
    

}
